@font-face {
  font-family: heading;
  src: url('./assets/fonts/Nephilm.otf');
}
@font-face {
  font-family: para;
  src: url('./assets/fonts/Sora-VariableFont_wght.ttf');
}
  
  body,html,li,a,p,div,.roboto{
    font-family: para;
  }
  h1,h2,h3,h4,h5,h6,.barlow,h2 .react-reveal *,h1 .react-reveal *,h3 .react-reveal *,h4 .react-reveal *,h5 .react-reveal *{
    font-family: heading;
  }
.subfont{
  font-family: para;
}
.fontlight{
  font-weight: lighter;
}
.teamImgWrp img {
  border: 4px solid #fff;
  border-radius: 16px;
}
.singleTeam {
  height: 300px;
}
.singleTeam > .container {
  margin-top: 150px;
}
a.line {
  text-decoration: underline !important;
}


.inputTheme {
  border: 1px solid #D6D6D6;
  border-radius: 0px;
  padding: 18px 17px;
  height: 50px;
  transition: all 0.3s ease-in;
  outline: none;
}
.inputTheme:focus {
border-color: #2C367A
}
.fileUploadTheme {
  border: 1px solid #1B2B4026;
  height: 48px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}
.fileUploadTheme .chooseFile {
  background: #1B2B40BF;
  color: #fff;
  border-radius: 20px;
  padding: 3px 10px;
  margin-left: 12px;
  font-size: 14px;
}
.tabbStyle {
  border: 1px solid #1B2B4026;
  border-radius: 30px;
}

.tabbStyle button {
  background: transparent;
  border: none;
  padding: 12px 30px 12px 30px;
  border-radius: 30px;
  font-size: 15px;
}
.tabbStyle button.active {
  background: var(--colorGreen);
  color: #fff;
}
.wrapperContact {
  -webkit-box-shadow: 0px 10px 60px #B0BAC554;
  box-shadow: 0px 10px 60px #B0BAC554;
  padding: 40px;
  background: #fff;
}
.formSection {
  margin-top: -50px;
}
/*react select*/
.themeSelect__indicator-separator {
  display: none;
}
.themeSelect__control {
  border: 1px solid #1B2B4026;
  outline: none !important;
}
.themeSelect__option--is-selected {
  background: #000 !important;
}
.themeSelect__option:hover {
  background: var(--colorGreen) !important;
  color: #fff;
}
.themeSelect *,
.themeSelect {
  outline: none !important;
}
.themeSelect__input-container {
  margin-top: -6px !important;
}
.themeSelect__value-container {
  height: 45px;
}
.themeSelect__control--is-focused {
  border-color: #1B2B4026 !important;
  -webkit-box-shadow: 0 0 0 0 var(--colorBlack) !important;
  box-shadow: 0 0 0 0 var(--colorBlack) !important;
}
.select_border div.themeSelect .themeSelect__control {
  border-color: #e8e9e9;
}
.themeSelect__placeholder {
  margin-top: -5px;
}
/*react select*/
.bgBlue.btnTheme:hover {
  background: var(--colorGreen) !important;
}
.bgGreen.btnTheme:hover {
  background: var(--colorBlue) !important;
}
.bgcover{
  background-size: cover;
}
.intro-content-second hr {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(4,80,140,1) 52%, rgba(4,80,140,1) 100%, rgba(255,255,255,1) 100%);
  border: 0;
  position: relative;
  right: calc(-5.2rem - 15px);
  z-index: 9;
  height: 2.4px;
  opacity: 1;
}

.teamWrapper img {
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.testimonialWrapper {
  min-height: 323px;
}

@media only screen and (max-width: 767px) {
  body .formSection{
    margin-top: 0px;
    padding-top: 30px;
  }
  .Mobileteamimage img {
    width: 50%;
    margin-bottom: 15px;
  }
  .singleTeam > .container {
    margin-top: 55px;
  }
  body .mobileList {
    display: block !important;
  }
  .mobileList li {
    margin-bottom: 15px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: var(--colorGreen);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colorGreen);
}

.contentArea ul {
  margin-bottom: 0px;
}
.intro-content-second hr {
  right: calc(0rem - 15px);
}

/*slider slick*/
.parentSl {
  margin: 0 -15px;
}
.slick-slider .slick-prev {
  top: -40px;
  right: 56px;
  left: inherit;
}
.slick-slider .slick-next {
  top: -40px;
  right: 20px;
}
/*slider slick*/

a {
  color: #0a3249;
}
.validation {
  font-size: 12px;
  color: red;
  margin-top: 5px;
  margin-left: 2px;
}
.bDivi{
  border-bottom: 1px solid #323d4c;
}
.bgcover {
  background-size: cover !important;
  background-repeat: no-repeat !important;

}

.pointer{
  cursor: pointer;
}
body{
  overflow-x: hidden;
}
.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
@keyframes shine {
  to {
    background-position: right -40px top 0;
 }
}

.bannerF {
  font-size: 168px;
  line-height: 180px;
  
}
.btnTheme img {
  width: 20px;
}
.living {
  font-size: 112px;
  line-height: 93px;
}
 
.brownGradient{
  background: #A07F50;
  background: linear-gradient(to top, #A07F50 0%, #ffdfb0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blackGradient{
  background: #C1B3A1;
  background: -webkit-linear-gradient(to right, #C1B3A1 0%, #8E7653 100%);
  background: -moz-linear-gradient(to right, #C1B3A1 0%, #8E7653 100%);
  background: linear-gradient(to right, #C1B3A1 0%, #8E7653 100%);
  background-clip: text;
  -webkit-background-clip: text;
  
  -webkit-text-fill-color: transparent;
   
}
.bgBrownGradient{
background: linear-gradient(to right,  rgba(234,220,202,1) 0%,rgba(179,156,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.imgProject::after {
  background: linear-gradient(to right, rgba(234,220,202,1) 0%,rgba(179,156,122,1) 100%);
  content: "";
  position: absolute;
  right: 0px;
  width: 80%;
  height: 100%;
  top: 0px;
  z-index: -1;
}
.imgProject2::after {
  background: linear-gradient(to right, rgba(234,220,202,1) 0%,rgba(179,156,122,1) 100%);
  content: "";
  position: absolute;
  left: 0px;
  width: 80%;
  height: 100%;
  top: 0px;
  z-index: -1;
}
.btnTransparent {
  border: 1px solid var(--colorBrown);
  padding: 15px 20px;
}
.heartAuthor {
  top: 49px;
  right: 0px;
  width: 150px;
  position: absolute;
}
.testimonials {
  margin-left: 18%;
}
.circleAnimate {
  
  border: 1px solid #bbbbbb;
  border-radius: 100%;
  width: 310px;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 10s linear infinite;
}
.circleAnimate::before {
  content: "";
  width: 30px;
  height: 30px;
background: linear-gradient(135deg,  rgba(204,205,205,1) 0%,rgba(129,129,129,1) 100%); 
  position: absolute;
  top: -15px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}



.proMaintitle {
  z-index: 1;
  position: relative;
  margin-top: 40px;
  text-align: right;
}
.swiperThumbnail .swiper-slide.swiper-slide-visible {
  width: 160px !important;
  height: auto;
  cursor: pointer;
}
.swiperThumbnail .swiper-slide.swiper-slide-visible:nth-child(4) {
  width: 254px !important;
  margin-top: 25px;
}
.swiperThumbnail .swiper-slide.swiper-slide-visible img{
  transition: transform 0.5s;
}

.swiperThumbnail .swiper-slide.swiper-slide-visible:hover img{
  transform: scale(1.1);
}
.testimonial{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.greyGradient{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cccdcd+0,818181+100 */
background: linear-gradient(135deg,  rgba(204,205,205,1) 0%,rgba(129,129,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.swiperThumbnail{

  margin-right: 0px !important;
  margin-bottom: 40px;
}
.swiperThumbnail .swiper-wrapper {
  max-width: 70%;
  flex-wrap: wrap;
  margin-right: 0px !important;
  justify-content: flex-end;
  background: url('./assets/img/home/bg_ly.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.dataTesti {
  position: relative;
  background: url('./assets/img/home/home_frame.png');
  background-size: 90%;
  background-repeat: no-repeat;
  width: 50%;
  padding-top: 233px;
  margin-top: 85px;
}
/* .swiperThumbnail .swiper-wrapper img {
  width: 100px;
} */
.mainHeader.transition.topDown {
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0px;
}
.topDown .mainLogo img {
  width: 40px;
}
.topDown .upperHeader {
  padding-top: 6px;
  padding-bottom: 6px;
}
.topDown.darkMode {
  background: #000;
}
.clickToClose:hover {
  color: var(--colorBrown);
}
.whyChsWrp {
  background: #ecf7fd;
  border-radius: 28px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
  .cornerHandle {
    margin-left: 30px;
    margin-right: 70px;
  }
}


@media only screen and (max-width: 767px) {
  body .bannerF {
    font-size: 16vw;
    line-height: 9vh;
  }
  .homeBanner .bannerImg {
    height: 510px;
    object-fit: cover;
  }
  body .swiperThumbnail .swiper-wrapper{
    width: 100%;
  }
  body .swiperThumbnail .swiper-slide.swiper-slide-visible {
    width: auto !important;
  }
  body .mainProSl img {
    height: 400px;
    object-fit: cover;
  }
  body .living {
    font-size: 80px;
    line-height: 70px;
  }
  .fs40 {
    font-size: 22px;
  }
  body .fs70 {
    font-size: 41px;
  }
  body .swiperThumbnail .swiper-wrapper img {
    width: 50px;
  }
  body .circleAnimate {
    width: 250px;
    height: 250px;
  }
  .mobPlr0{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .test_wrapper .dataTesti {
    position: static !important;
    width: 100%;
  }
  .dataTesti {
    width: 100%;
  }
  .test_wrapper .homeFrameImg {
    display: none;
  }
  h2 br {
    display: none;
  }
  body .fs58 {
    font-size: 33px;
  }
  .copyright * {
    font-size: 12px;
    margin-top: 0px !important;
  }
  .copyright {
    margin-top: 0px !important;
  }
  body .viewToggle img{
    width: 62px;
  }
  body .wrapperContact {
    padding: 15px;
  }
  .swiperThumbnail .swiper-wrapper {
    background-position: right;
  }
  .swiperThumbnail .swiper-slide.swiper-slide-visible:nth-child(4) {
    width: 46px !important;
    margin-top: 15px;
  }
  .heartAuthor {
    top: 30px;
    right: 0px;
    width: 62px;
    position: absolute;
  }
  .dataTesti {
    padding-top: 92px;
    margin-top: 0px;
  }
}
.titles {
  position: absolute;
  z-index: 1;
  bottom: 40px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: 8e7653 #f6f3f0;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #8e7653;
}
*::-webkit-scrollbar-thumb {
  background-color: #8e7653;
  border: 3px solid #f6f3f0;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #8e7653;
  border: 3px solid #f6f3f0;
}

.crcWrapper {
  width: 70px;
  height: 70px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crcWrapper img {
  width: 28px;
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
  content: '' !important;
  background: url('./assets/img/home/arr.png') no-repeat;
  background-size: 65px !important;
  z-index: 1;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0px;
  top: 100%;
}
.swiper-button-next, .swiper-button-prev {
  align-items: flex-end !important;
}
.swiper-button-next, .swiper-button-prev {
  align-items: flex-end !important;
  transform: translate(-20px,230px);
}
.testimonialSlider {
  padding-bottom: 60px !important;
}
.swiper-button-prev {
  display: none !important;
}


/*project hover*/

.content_wrp {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.content_wrp .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content_wrp:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content_wrp:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

/*project hover*/
.topDown {
  position: fixed !important;
  top: 0px !important;
  z-index: 999999 !important;
}

/*hover effect*/
.button {
	pointer-events: auto;
	cursor: pointer;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-flex;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border-color: #000 !important;
}
.button--calypso {
	overflow: hidden;
}

.button--calypso span {
	display: block;
	position: relative;
	z-index: 10;
}

.button--calypso:hover span {
	animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
  color: #fff;
  border-color: #000 !important;
}


@keyframes MoveScaleUpInitial {
	to {
		transform: translate3d(0,-105%,0) scale3d(1,2,1);
		opacity: 0;
	}
}

@keyframes MoveScaleUpEnd {
	from {
		transform: translate3d(0,100%,0) scale3d(1,2,1);
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

.button--calypso::before {
	content: '';
	background: #000;
	width: 120%;
	height: 0;
	padding-bottom: 120%;
	top: -110%;
	left: -10%;
	border-radius: 50%;
	transform: translate3d(0,68%,0) scale3d(0,0,0);
  border-color: #000 !important;
}

.button--calypso:hover::before {
	transform: translate3d(0,0,0) scale3d(1,1,1);
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  border-color: #000 !important;
}

.button--calypso::after {
	content: '';
	background: #000;
	transform: translate3d(0,-100%,0);
	transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  border-color: #000 !important;
}

.button--calypso:hover::after {
	transform: translate3d(0,0,0);
	transition-duration: 0.05s;
	transition-delay: 0.4s;
	transition-timing-function: linear;
  border-color: #000 !important;
}


/*hover effect*/